<!DOCTYPE html>
<html>
<head>
<title>Three Your Mind</title>
<link rel="stylesheet" type="text/css" href="static/app/assets/css/style.css" />
<link href="static/app/assets/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="static/app/assets/js/angular.min.js"></script>
<script type="text/javascript" src="static/app/assets/js/angular-route.min.js"></script>
<script type="text/javascript" src="static/app/assets/js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="static/app/app.js"></script>
<script type="text/javascript" src="static/app/config.js"></script>
<script type="text/javascript" src="static/app/Main/Main.module.js"></script>
<script type="text/javascript" src="static/app/Main/Service/Main.service.js"></script>
<script type="text/javascript" src="static/app/Form/Form.module.js"></script>
<script type="text/javascript" src="static/app/Form/Service/form.service.js"></script>
<script type="text/javascript" src="static/app/Form/Controller/form.controller.js"></script>
<script type="text/javascript" src="static/app/Form/Controller/company.controller.js"></script>
<script type="text/javascript" src="static/app/Form/Controller/material.controller.js"></script>
</head>
<body ng-app="threeurmind">
<div class="loading" style="display:none;">Loading...</div>
    <div ng-view class="mind-view"></div>
</body>
</html>